@import "bootstrap-sprockets";
@import "bootstrap";

/*
 *= require_tree .
 *= require_self
 */
body {
  background-color: #ededed;
}


.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.nav {
  background-color: #15A748;
  padding: 10px;
  height: 50px;

  a {
    color: white;
    padding-right: 10px
  }
}

.card {
  background-color: white;
  border-radius: 2px;
  padding: 10px;
  margin-top: 10px;
}