@import "bootstrap-sprockets";
@import "bootstrap";

/*
 *= require_tree .
 *= require_self
 */
body {
  background-color: #ededed;
  font-family: Helvetica;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.nav {
  background-color: #15A748;
  padding: 14px;
  height: 60px;

  a {
    padding-right: 26px;
  }

  .link {
    color: white;
  }

  .logo {
    font-size: 16px;
    text-transform: uppercase;
    font-family: Helvetica;
    color: white;
  }

  .button {
    border-radius: 3px;
    border: none;
    height: 34px;
    background-color: white;
    color: #15A748;
    padding-left: 8px;
  }
}

.card {
  background-color: white;
  border-radius: 2px;
  padding: 20px;
  margin-top: 10px;

  img {
    width: 80px;
  }

  .header {
    font-size: 16px;
    font-weight: bold;
  }
}

.close-button {
  border: none;
  background-color: transparent;
  color: green
}