# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.env
# dependencies
node_modules
/.pnp
.pnp.js
.nyc_output

# testing
client/coverage
server/coverage

# production


