.App {
  text-align: center;
}

.App-light {
  background-color: white;
  color: black;
}

.App-dark {
  background-color: #37403f;
  color: white;
}

.fsc-body-text {
  font-family: 'Sarabun', sans-serif;
}

.fsc-header-text {
  font-family: 'Fjalla One', sans-serif;
}

.fsc-nav-text {
  font-family: 'Fjalla One', sans-serif;
}

.fsc-logo-text {
  font-family: 'Chau Philomene One', sans-serif;
}
