$primary: #292939;
$secondary: #fff;
$active: #ed6767;
$alt: #793f5c;

ul {
  margin: 0;
  padding: 3rem 4rem;
}

li {
  background: $secondary;
  list-style-type: none;
  padding: 1rem 5rem;
  margin: 0 0 2rem;
  .nameplate {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: inherit;    
    h2 { 
      font-size: 4rem;
      margin: 0;
    }
    span {
      font-size: 2rem;
      font-weight: 400; 
      padding-left: 0.6em;
      border-left: 1px solid $primary;
    }
  }

  hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, $secondary, $primary, $secondary);
  }

  p {
    font-size: 1.4em;
  }
}